# First print your name in the cell below then save this file. (or something nice about your instructor)

In [3]:
# In this cell print your name 
print('Ayman Fahim')

Ayman Fahim

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [4]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [5]:
# Load data here
df = pd.read_csv("/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/listings.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [6]:
# 1. How many listings are there with a price less than 100? 

cheap = df["price"] < 100
cheap_df = df[cheap]
cheap_count = len(cheap_df) 

print(cheap_count)

22778

In [7]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

is_brooklyn = df["neighbourhood_group"] == "Brooklyn"
df_bk = df[is_brooklyn].copy()
print(len(df_bk))

18632

In [8]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

bk_cheap = df_bk["price"] < 100
bk_cheap_df = df_bk[bk_cheap]
print(len(bk_cheap_df))

10473

In [9]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

wanted_names = ["Michael", "David", "John", "Daniel"]
filtered_names = df["host_name"].isin(wanted_names)
df_hosts = df[filtered_names]
print(len(df_hosts))

1258

In [10]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df["adjusted_price"] = df["price"]
is_williamsburg = df["neighbourhood"] == "Williamsburg"
df.loc[is_williamsburg, "adjusted_price"] = df.loc[is_williamsburg, "price"] + 100
print(df.loc[is_williamsburg, ["neighbourhood", "price", "adjusted_price"]].head())

   neighbourhood  price  adjusted_price
11  Williamsburg    109             209
15  Williamsburg    299             399
35  Williamsburg    131             231
38  Williamsburg    175             275
42  Williamsburg     80             180

In [11]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

room_counts = df["room_type"].value_counts()
total_rooms = room_counts.sum()

percentages = (room_counts / total_rooms) * 100
private_pct = percentages.get("Private room", 0.0)
shared_pct = percentages.get("Shared room", 0.0)

print("\nPrivate room %:", round(private_pct, 2))
print("Shared room % :", round(shared_pct, 2))

Private room %: 45.44
Shared room % : 2.12

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [12]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

group_counts = df.groupby("neighbourhood_group").size().reset_index(name="count")
print(group_counts)

  neighbourhood_group  count
0               Bronx   1183
1            Brooklyn  18632
2           Manhattan  20580
3              Queens   5791
4       Staten Island    341

In [13]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

avg_price_by_group = (
    df.groupby("neighbourhood_group")["price"].mean().reset_index(name="mean_price")
)
print(avg_price_by_group)

  neighbourhood_group  mean_price
0               Bronx   92.751479
1            Brooklyn  120.225258
2           Manhattan  191.880466
3              Queens   99.754965
4       Staten Island  110.947214

In [14]:
# 2.5. Using `groupby`, find the mean price for each room_type. 

avg_price_by_room = (
df.groupby("room_type")["price"].mean().reset_index(name="mean_price") )
print(avg_price_by_room)

         room_type  mean_price
0  Entire home/apt  199.395950
1       Hotel room  275.015075
2     Private room   91.453084
3      Shared room   87.063830

In [15]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

grp = df.groupby("neighbourhood_group")["price"]

min_price = grp.min()
max_price = grp.max()

min_max_table = pd.DataFrame({
"min_price": min_price,
"max_price": max_price

}).reset_index()

print(min_max_table)

  neighbourhood_group  min_price  max_price
0               Bronx         16       1404
1            Brooklyn          0      10000
2           Manhattan          0      10000
3              Queens          0      10000
4       Staten Island         19       1200

In [16]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

median_price_nested = (
  df.groupby(["neighbourhood_group", "room_type"])["price"]  
    .median()
    .reset_index(name="median_price")
)
print(median_price_nested.head(10))

  neighbourhood_group        room_type  median_price
0               Bronx  Entire home/apt         103.0
1               Bronx     Private room          55.0
2               Bronx      Shared room          44.0
3            Brooklyn  Entire home/apt         135.0
4            Brooklyn       Hotel room         129.0
5            Brooklyn     Private room          60.0
6            Brooklyn      Shared room          36.0
7           Manhattan  Entire home/apt         165.0
8           Manhattan       Hotel room         210.0
9           Manhattan     Private room          80.0

In [17]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

grp2 = df.groupby(["neighbourhood_group", "room_type"])["price"]

stats_count  = grp2.count().rename("count")
stats_min    = grp2.min().rename("min")
stats_max    = grp2.max().rename("max")
stats_mean   = grp2.mean().rename("mean")
stats_median = grp2.median().rename("median")
stats_std    = grp2.std(ddof=1).rename("std")

stats_table = pd.concat(
[stats_count, stats_min, stats_max, stats_mean, stats_median, stats_std],
axis=1
).reset_index()

print(stats_table.head(5))

  neighbourhood_group        room_type  count  min    max        mean  median  \
0               Bronx  Entire home/apt    415   25   1404  138.004819   103.0
1               Bronx     Private room    722   16    700   68.419668    55.0
2               Bronx      Shared room     46   20    800   66.391304    44.0
3            Brooklyn  Entire home/apt   9112   20  10000  171.587687   135.0
4            Brooklyn       Hotel room     30    0    399  147.300000   129.0

          std
0  126.032106
1   57.337866
2  114.442703
3  236.732843
4   91.153206

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [18]:
# 1. Load the `prices.csv` and the `n_listings.csv`

prices = pd.read_csv("../data/prices.csv")
n_listings = pd.read_csv("../data/n_listings.csv", sep=";")

In [25]:
# 2. Do join that keeps all the records for each table.

joined = pd.merge(prices, n_listings, on="neighbourhood_group", how="outer")

In [ ]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
joined.to_csv("../data/joined.csv", index=False)

In [24]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

print(joined.head())

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.