# First print your name in the cell below then save this file. (or something nice about your instructor)

In [59]:
# In this cell print your name 
print("Colvin");

Colvin

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [60]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [61]:
# Load data here
df = pd.read_csv("/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/listings.csv");
print(df.shape);

(46527, 16)

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [62]:
# 1. How many listings are there with a price less than 100? 
condition_price = df['price'] < 100;
price_less_than_100 = df[condition_price];
print(len(price_less_than_100));

22778

In [63]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
select_condition_brooklyn = df['neighbourhood_group'] == "Brooklyn";
df_bk = df[select_condition_brooklyn].copy();
print(len(df_bk));

18632

In [64]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
selection_bk_and_price_100 = df[select_condition_brooklyn & condition_price].copy();
print(len(selection_bk_and_price_100));

10473

In [65]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
names = ["Michael", "David", "John", "Daniel"];
name_selection = df.host_name.isin(names);
print(df[name_selection]['host_name'].value_counts());

host_name
Michael    387
David      348
John       270
Daniel     253
Name: count, dtype: int64

In [66]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
select_condition_williamsburg = df['neighbourhood'] == "Williamsburg";
df['adjusted_price'] = np.where(select_condition_williamsburg, df['price'] + 100, df['price']);

In [ ]:
# 6. What % of the rooms are private, and what % of the rooms are shared. 
#I needed help with the method .get in this problem
room_type_as_a_percent = df['room_type'].value_counts(normalize=True) * 100;
print(room_type_as_a_percent);
private_room_percent = room_type_as_a_percent.get('Private room', 0);
shared_room_percent = room_type_as_a_percent.get('Shared room', 0);

print(private_room_percent);
print(shared_room_percent);

room_type
Entire home/apt    51.578653
Private room       45.444581
Shared room         2.121349
Hotel room          0.855417
Name: proportion, dtype: float64
45.444580566122895
2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [71]:
gb = df.groupby('neighbourhood_group')
print(gb)

gb['price'].mean()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ef6d8503170>

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [76]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
gb = df.groupby('neighbourhood_group');
print(gb)

print(gb['neighbourhood_group'].value_counts());

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ef6d8503830>
neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: count, dtype: int64

In [77]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

gb = df.groupby('neighbourhood_group');
print(gb['price'].mean());

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [78]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
gb_room_type = df.groupby('room_type');
print(gb_room_type['price'].mean());

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [82]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

gb = df.groupby('neighbourhood_group');
print(gb['price'].agg(['min', 'max']));

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [ ]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
# I needed to look this up
 #After doing 5 I understand that this could be done differently and in the same form as 5 and 3
gb = df.groupby(['neighbourhood_group' , 'room_type']).agg({'price' : 'mean'});
print(gb);

                                          price
neighbourhood_group room_type
Bronx               Entire home/apt  138.004819
                    Private room      68.419668
                    Shared room       66.391304
Brooklyn            Entire home/apt  171.587687
                    Hotel room       147.300000
                    Private room      71.291189
                    Shared room       57.870091
Manhattan           Entire home/apt  231.335572
                    Hotel room       292.515670
                    Private room     128.277069
                    Shared room      111.735084
Queens              Entire home/apt  150.168900
                    Hotel room       139.058824
                    Private room      69.972564
                    Shared room       89.891892
Staten Island       Entire home/apt  151.720930
                    Private room      70.312883
                    Shared room       46.000000

In [88]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
gb = df.groupby(['neighbourhood_group' , 'room_type']);
print(gb['price'].agg(['min','max','mean','median', 'std']));

                                     min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt   25   1404  138.004819   103.0
                    Private room      16    700   68.419668    55.0
                    Shared room       20    800   66.391304    44.0
Brooklyn            Entire home/apt   20  10000  171.587687   135.0
                    Hotel room         0    399  147.300000   129.0
                    Private room      10   2500   71.291189    60.0
                    Shared room       15   1500   57.870091    36.0
Manhattan           Entire home/apt    0  10000  231.335572   165.0
                    Hotel room         0   2211  292.515670   210.0
                    Private room      10  10000  128.277069    80.0
                    Shared room       10  10000  111.735084    60.0
Queens              Entire home/apt   10  10000  150.168900   115.0
                    Hotel room         0    249  139.058824   149.0
                    Private room      18   9000   69.972564    55.0
                    Shared room       14   3000   89.891892    40.0
Staten Island       Entire home/apt   39   1200  151.720930   111.0
                    Private room      20    800   70.312883    55.0
                    Shared room       19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [98]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df_prices = pd.read_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/prices.csv');
df_n_listings = pd.read_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/n_listings.csv');
print(df_prices);
print(df_n_listings);

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214
  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [102]:
# 2. Do join that keeps all the records for each table.
merged_df = pd.merge(df_prices, df_n_listings, on = 'neighbourhood_group', how='outer');
print(merged_df);

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [105]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
save_as = "/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/joined.csv";
merged_df.to_csv(save_as, index=False);

In [106]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
df_merged_check_data = pd.read_csv('/workspaces/ds-fall-2025-tue/Week-01-Pandas/data/joined.csv');
print(df_merged_check_data);

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.