# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 

print("Destiny Rosado Salcedo")
print("My instructor and TA are smart + helpful")

Destiny Rosado Salcedo
My instructor and TA are smart + helpful

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv('../data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [5]:
# 1. How many listings are there with a price less than 100? 
minPrice = df['price'] < 100
df_price = df[ minPrice ].copy()
len(df_price)

22778

In [7]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn = df['neighbourhood_group'] == 'Brooklyn'
df_bk = df[brooklyn]

len(df_bk)

18632

In [9]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df_bk_price = df[brooklyn & minPrice]
len(df_bk_price)

10473

In [10]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
name = ['Michael', 'David', 'John', 'Daniel']
host_filter = df[df['host_name'].isin(name)]
print(f"Number of listings with hosts named {', '.join(name)}: {len(host_filter)}")

# Show distribution of these names
print("\nDistribution by host name:")
print(host_filter['host_name'].value_counts())

Number of listings with hosts named Michael, David, John, Daniel: 1258

Distribution by host name:
host_name
Michael    387
David      348
John       270
Daniel     253
Name: count, dtype: int64

In [11]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
df['adjusted_price'] = df['price']
df.loc[df['neighbourhood'] == 'Williamsburg', 'adjusted_price'] += 100

In [ ]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
roomTypes = df['room_type'].value_counts(normalize=True) * 100
private = roomTypes['Private room']
shared = roomTypes['Shared room']
print(f"% of private rooms: {private}, % of shared rooms: {shared}")

% of private rooms: 45.444580566122895, % of shared rooms: 2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [13]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
gb = df.groupby('neighbourhood_group')

gb['calculated_host_listings_count'].count()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: calculated_host_listings_count, dtype: int64

In [14]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
gb = df.groupby('neighbourhood_group')
gb['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [15]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
gb = df.groupby('room_type')

gb['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [16]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
gb = df.groupby('neighbourhood_group').agg(
  {'price' : ['max', 'min']}
)
print(gb)

                     price
                       max min
neighbourhood_group
Bronx                 1404  16
Brooklyn             10000   0
Manhattan            10000   0
Queens               10000   0
Staten Island         1200  19

In [ ]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
groupby_cols = ['neighbourhood_group', 'room_type']
gb = df.groupby(groupby_cols)
gb['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [18]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
groupby_cols = ['neighbourhood_group', 'room_type']
gb = df.groupby(groupby_cols).agg(
     {'price' : ['max', 'min', 'count', 'mean', 'median', 'std' ]} 
)
gb

                                     price                                \
                                       max min  count        mean median
neighbourhood_group room_type
Bronx               Entire home/apt   1404  25    415  138.004819  103.0
                    Private room       700  16    722   68.419668   55.0
                    Shared room        800  20     46   66.391304   44.0
Brooklyn            Entire home/apt  10000  20   9112  171.587687  135.0
                    Hotel room         399   0     30  147.300000  129.0
                    Private room      2500  10   9159   71.291189   60.0
                    Shared room       1500  15    331   57.870091   36.0
Manhattan           Entire home/apt  10000   0  12209  231.335572  165.0
                    Hotel room        2211   0    351  292.515670  210.0
                    Private room     10000  10   7601  128.277069   80.0
                    Shared room      10000  10    419  111.735084   60.0
Queens              Entire home/apt  10000  10   2090  150.168900  115.0
                    Hotel room         249   0     17  139.058824  149.0
                    Private room      9000  18   3499   69.972564   55.0
                    Shared room       3000  14    185   89.891892   40.0
Staten Island       Entire home/apt   1200  39    172  151.720930  111.0
                    Private room       800  20    163   70.312883   55.0
                    Shared room         82  19      6   46.000000   38.0


                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [19]:
# 1. Load the `prices.csv` and the `n_listings.csv`
pricesdf = pd.read_csv('../data/prices.csv')
nlistdf = pd.read_csv('../data/n_listings.csv', sep = ";")
print(nlistdf)
print(pricesdf)

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121
  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214

In [ ]:
# 2. Do join that keeps all the records for each table.
dfjoin = pd.merge(pricesdf, nlistdf, how='outer' )
dfjoin

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [21]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
dfjoin.to_csv('../data/joined.csv', index = False)

In [22]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
test = pd.read_csv('../data/joined.csv')
test

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

My Response - I didn't know that PandasAI + OpenAI created a new packages. The syntax is very simple: import the openai + pandasai library, like enter your df and your written prompt for the AI to run.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [23]:
data = pd.read_csv('../data/grammys.csv')
data1 = data.loc[(data['year'] == 2016) & 
                 (data['category'] == "Album of the Year") & 
                 (data['winner'] == True)]
winner = data1['workers']
print(winner)

5505    Taylor Swift (artist/producer), Jack Antonoff ...
Name: workers, dtype: object

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.