# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print("Eric")

Eric

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv('../data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [17]:
# 1. How many listings are there with a price less than 100? 
condition = df['price'] < 100
print(len(df[condition]))

22778

In [ ]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn = df['neighbourhood_group'] == 'brooklyn'
df_bk = df[brooklyn].copy()
print(len(df_bk))

In [24]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
df_brookcheap = df[condition & brooklyn].copy()
print(len(df_brookcheap))

0

In [26]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

mask = df['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])
selected = df[mask]

print(len(selected))

1258

In [29]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 


df['adjusted_price'] = np.where(df['neighbourhood'] == 'Williamsburg', df['price'] + 100, df['price'])

In [34]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
#df.head()
total = len(df)
condition = df['room_type'] == 'Shared room'
amt_shared = len(df[condition].copy())
print(amt_shared / total * 100)

2.12134889419047

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [42]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
count_listings = df.groupby('neighbourhood_group').size()
#count_listings = df.groupby('neighbourhood_group')   Prints generic PD Object

print(count_listings)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [39]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
mean_prices = df.groupby('neighbourhood_group')['price'].mean()
print(mean_prices)

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [46]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
print(df.groupby('room_type').size())
mean_prices = df.groupby('room_type')['price'].mean()
print(mean_prices)

room_type
Entire home/apt    23998
Hotel room           398
Private room       21144
Shared room          987
dtype: int64
room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [10]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

#group by neighborhood_groups
#for each neighbourhood_group, find the min and max prices
by_borough = df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])
print(by_borough)

#.agg('min', 'max', 'mean')

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

mean_prices = df.groupby(['neighbourhood_group', 'room_type'])['price'].mean()#.reset_index()
print(mean_prices)

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [16]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

price_per_type_per_group = df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(['min', 'max', 'median', 'std'])
print(price_per_type_per_group)

                                     min    max  median         std
neighbourhood_group room_type
Bronx               Entire home/apt   25   1404   103.0  126.032106
                    Private room      16    700    55.0   57.337866
                    Shared room       20    800    44.0  114.442703
Brooklyn            Entire home/apt   20  10000   135.0  236.732843
                    Hotel room         0    399   129.0   91.153206
                    Private room      10   2500    60.0   69.023165
                    Shared room       15   1500    36.0   92.217618
Manhattan           Entire home/apt    0  10000   165.0  410.306439
                    Hotel room         0   2211   210.0  315.924085
                    Private room      10  10000    80.0  448.677306
                    Shared room       10  10000    60.0  502.728868
Queens              Entire home/apt   10  10000   115.0  252.606739
                    Hotel room         0    249   149.0   50.743806
                    Private room      18   9000    55.0  163.814468
                    Shared room       14   3000    40.0  275.675158
Staten Island       Entire home/apt   39   1200   111.0  147.518392
                    Private room      20    800    55.0   70.759593
                    Shared room       19     82    38.0   28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [18]:
# 1. Load the `prices.csv` and the `n_listings.csv`

df_prices = pd.read_csv('../data/prices.csv')
df_listings = pd.read_csv('../data/n_listings.csv')

In [ ]:
# 2. Do join that keeps all the records for each table.

df_merged = df_prices.merge(df_listings, how='outer', left_index=True, right_index=True)

In [21]:
# 3. Save your joined csv as `joined.csv` into the data folder. 

df_merged.to_csv('../data/joined.csv', index=False)

In [22]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

df_loaded = pd.read_csv('../data/joined.csv')
print(df_loaded.head())

  neighbourhood_group   mean_price neighbourhood_group;n_listings
0               Bronx    92.751479                     Bronx;1183
1            Brooklyn   120.225258                 Brooklyn;18632
2           Manhattan   191.880466                Manhattan;20580
3              Queens    99.754965                LongIsland;4121
4       Staten Island   110.947214                            NaN

# Extra Credit
Every question below this cell is extra credit and optional.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import pandasai
from pandasai.llm.openai import OpenAI

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

In [8]:
df = pd.read_csv('../data/ufo_sighting_data.csv')

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

In [14]:
from ydata_profiling import ProfileReport 
#pip install ydata_profiling 
#pip install "pandas<=2.1"

profile = PortfolioReport(df)
profile.to_file("report.html")

ImportError: Numba needs NumPy 2.1 or less. Got NumPy 2.3.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [40]:
df = pd.read_csv('../data/grammys.csv')

year = df['year'] == 2016
winner = df['winner'] == True
best_album = df['category'] == 'Album of the Year'
print(df[winner & year & best_album].copy().head())

year = df['year'] == 2009
winner = df['winner'] == True
best_album = df['category'] == 'Best Rap Album'
print(df[winner & year & best_album].copy().head())

lamar = df['nominee'] == 'Kendrick Lamar'

print("nominated for " + str(len(df[lamar].copy())))
print("won " + str(len(df[lamar & winner].copy())))

      year           category nominee  \
5505  2016  Album of the Year   1989.

                                                workers  winner
5505  Taylor Swift (artist/producer), Jack Antonoff ...    True
      year        category         nominee     workers  winner
4396  2009  Best Rap Album  Tha Carter III  Lil' Wayne    True
nominated for 1
won 0

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

In [ ]:
#https://www.retrosheet.org/gamelogs/glfields.txt

pandas_ai = PandasAI(llm)

df = pd.read_csv('../data/gl2022.csv')
column_descriptions = "../data/column_names"

content = ""
with open(column_descriptions, 'r') as file:
    content = file.read()

prompt = "based on the descriptions of each column, create a dictionary for each column name: {content}"

response = pandas_ai.run(df, prompt)

print(df.columns)

Index(['20220407', '0', 'Thu', 'SDN', 'NL', '1', 'ARI', 'NL.1', '1.1', '2',
       ...
       'Seth Beer.1', '10.1', 'ellid002', 'Drew Ellis', '5.3', 'perdg001',
       'Gerardo Perdomo', '6.4', 'Unnamed: 159', 'Y'],
      dtype='object', length=161)

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.

In [ ]:
#source: https://pandas.pydata.org/docs/user_guide/merging.html
import os 

folder_path = '../data/pastGames'

list_dfs = []
for name in os.listdir(folder_path):
    path = folder_path + "/" + name
    df_temp = pd.read_csv(path)
    list_dfs.append(df_temp)

result = pd.concat(list_dfs)

FileNotFoundError: [Errno 2] No such file or directory: '../data/pastGames'