# First print your name in the cell below then save this file. (or something nice about your instructor)

In [12]:
# In this cell print your name 
print('Hanan Latiff' )

Hanan Latiff

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [13]:
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas.core.groupby import GroupBy
from pandas import Series
from pandas.io.formats.style import Styler
import os
print(os.getcwd())

/workspaces/ds-fall-2025-tue/Week-01-Pandas/exercise

# Load in the data file using `pd.read_csv()`

In [14]:
# Load data here
import pandas as pd

df = pd.read_csv("../data/listings.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [15]:
# 1. How many listings are there with a price less than 100? 

num_listings_under_100 = (df["price"] < 100).sum()
num_listings_under_100

np.int64(22778)

In [16]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

df_bk = df[df["neighbourhood_group"] == "Brooklyn"]


num_bk_listings = len(df_bk)
num_bk_listings

18632

In [17]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

df_bk = df[df["neighbourhood_group"] == "Brooklyn"]

num_bk_listings = len(df_bk)
num_bk_listings

18632

In [18]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
hosts = ["Michael", "David", "John", "Daniel"]
df_hosts = df[df["host_name"].isin(hosts)]

num_hosts = len(df_hosts)
num_hosts

1258

In [19]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df["adjusted_price"] = np.where(
    df["neighbourhood"] == "Williamsburg",
    df["price"] + 100,
    df["price"]
)


df[df["neighbourhood"] == "Williamsburg"][["neighbourhood", "price", "adjusted_price"]].head()

   neighbourhood  price  adjusted_price
11  Williamsburg    109             209
15  Williamsburg    299             399
35  Williamsburg    131             231
38  Williamsburg    175             275
42  Williamsburg     80             180

In [20]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

room_percentages = df["room_type"].value_counts(normalize=True) * 100
room_percentages

room_type
Entire home/apt    51.578653
Private room       45.444581
Shared room         2.121349
Hotel room          0.855417
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [21]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

counts = df.groupby("neighbourhood_group").size()
counts

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [22]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
mean_prices = df.groupby("neighbourhood_group")["price"].mean()
mean_prices

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [23]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
mean_prices_by_room = df.groupby("room_type")["price"].mean()
mean_prices_by_room

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [24]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
min_max_prices = df.groupby("neighbourhood_group")["price"].agg(["min", "max"])
min_max_prices

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [25]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
mean_prices = df.groupby(["neighbourhood_group", "room_type"])["price"].mean()
mean_prices

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [26]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
price_stats = df.groupby(["neighbourhood_group", "room_type"])["price"].agg(
    count="count",
    min="min",
    max="max",
    mean="mean",
    median="median",
    std="std"
)

price_stats

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [29]:
# 1. Load the `prices.csv` and the `n_listings.csv`

prices = pd.read_csv("../data/prices.csv")
n_listings = pd.read_csv("../data/n_listings.csv")

print("Prices CSV:")
print(prices.head(), "\n")
print("N_listings CSV:")
print(n_listings.head())

Prices CSV:
  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214

N_listings CSV:
  neighbourhood_group;n_listings
0                     Bronx;1183
1                 Brooklyn;18632
2                Manhattan;20580
3                LongIsland;4121

In [34]:
print(prices.columns)
print(n_listings.columns)
n_listings = pd.read_csv("../data/n_listings.csv", sep=";")
print(n_listings.head())

Index(['neighbourhood_group', ' mean_price'], dtype='object')
Index(['neighbourhood_group', 'n_listings'], dtype='object')
  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [35]:
# 2. Do join that keeps all the records for each table.



joined = pd.merge(
    prices,
    n_listings,
    on="neighbourhood_group",
    how="outer"
)

joined

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [36]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
import os
print(os.listdir("../data"))

['grammys.csv', 'joined.csv', 'new_listings.csv', 'n_listings.csv', 'listings.csv', 'ufo_sighting_data.csv', 'prices.csv']

In [37]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`


joined_check = pd.read_csv("../data/joined.csv")

print(joined.equals(joined_check))   # should print True if they are the same

joined_check.head()

True

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

In [40]:
!pip install pandasai

Collecting pandasai
  Downloading pandasai-2.3.2-py3-none-any.whl.metadata (10 kB)
Collecting astor<0.9.0,>=0.8.1 (from pandasai)
  Downloading astor-0.8.1-py2.py3-none-any.whl.metadata (4.2 kB)
Collecting duckdb<2.0.0,>=1.0.0 (from pandasai)
  Downloading duckdb-1.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (7.0 kB)
Collecting faker<20.0.0,>=19.12.0 (from pandasai)
  Downloading Faker-19.13.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: jinja2<4.0.0,>=3.1.3 in /home/codespace/.local/lib/python3.12/site-packages (from pandasai) (3.1.6)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandasai) (3.10.3)
Collecting openai<2 (from pandasai)
  Downloading openai-1.102.0-py3-none-any.whl.metadata (29 kB)
Collecting pandas==1.5.3 (from pandasai)
  Downloading pandas-1.5.3.tar.gz (5.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 39.0 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting pillow<11.0.0,>=10.1.0 (from pandasai)
  Downloading pillow-10.4.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (9.2 kB)
Collecting pydantic<3,>=1 (from pandasai)
  Downloading pydantic-2.11.7-py3-none-any.whl.metadata (67 kB)
Collecting python-dotenv<2.0.0,>=1.0.0 (from pandasai)
  Downloading python_dotenv-1.1.1-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: requests<3.0.0,>=2.31.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandasai) (2.32.4)
Collecting sqlalchemy<3,>=1.4 (from pandasai)
  Downloading sqlalchemy-2.0.43-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlglot<26.0.0,>=25.0.3 (from sqlglot[rs]<26.0.0,>=25.0.3->pandasai)
  Downloading sqlglot-25.34.1-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.21.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas==1.5.3->pandasai) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas==1.5.3->pandasai) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas==1.5.3->pandasai) (2025.2)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.12/site-packages (from jinja2<4.0.0,>=3.1.3->pandasai) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (3.2.3)
Requirement already satisfied: anyio<5,>=3.5.0 in /home/codespace/.local/lib/python3.12/site-packages (from openai<2->pandasai) (4.9.0)
Collecting distro<2,>=1.7.0 (from openai<2->pandasai)
  Downloading distro-1.9.0-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: httpx<1,>=0.23.0 in /home/codespace/.local/lib/python3.12/site-packages (from openai<2->pandasai) (0.28.1)
Collecting jiter<1,>=0.4.0 (from openai<2->pandasai)
  Downloading jiter-0.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.2 kB)
Requirement already satisfied: sniffio in /home/codespace/.local/lib/python3.12/site-packages (from openai<2->pandasai) (1.3.1)
Collecting tqdm>4 (from openai<2->pandasai)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: typing-extensions<5,>=4.11 in /home/codespace/.local/lib/python3.12/site-packages (from openai<2->pandasai) (4.14.1)
Requirement already satisfied: idna>=2.8 in /home/codespace/.local/lib/python3.12/site-packages (from anyio<5,>=3.5.0->openai<2->pandasai) (3.10)
Requirement already satisfied: certifi in /home/codespace/.local/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai<2->pandasai) (2025.7.9)
Requirement already satisfied: httpcore==1.* in /home/codespace/.local/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai<2->pandasai) (1.0.9)
Requirement already satisfied: h11>=0.16 in /home/codespace/.local/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai<2->pandasai) (0.16.0)
Collecting annotated-types>=0.6.0 (from pydantic<3,>=1->pandasai)
  Downloading annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.33.2 (from pydantic<3,>=1->pandasai)
  Downloading pydantic_core-2.33.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.8 kB)
Collecting typing-inspection>=0.4.0 (from pydantic<3,>=1->pandasai)
  Downloading typing_inspection-0.4.1-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai) (3.4.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai) (2.5.0)
Collecting greenlet>=1 (from sqlalchemy<3,>=1.4->pandasai)
  Downloading greenlet-3.2.4-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Collecting sqlglotrs==0.3.0 (from sqlglot[rs]<26.0.0,>=25.0.3->pandasai)
  Downloading sqlglotrs-0.3.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (545 bytes)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.1->pandas==1.5.3->pandasai) (1.17.0)
Downloading pandasai-2.3.2-py3-none-any.whl (186 kB)
Downloading astor-0.8.1-py2.py3-none-any.whl (27 kB)
Downloading duckdb-1.3.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (21.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.1/21.1 MB 54.9 MB/s eta 0:00:00:00:01
Downloading Faker-19.13.0-py3-none-any.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 44.0 MB/s eta 0:00:00
Downloading openai-1.102.0-py3-none-any.whl (812 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 812.0/812.0 kB 31.8 MB/s eta 0:00:00
Downloading distro-1.9.0-py3-none-any.whl (20 kB)
Downloading jiter-0.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (352 kB)
Downloading pillow-10.4.0-cp312-cp312-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 43.9 MB/s eta 0:00:00
Downloading pydantic-2.11.7-py3-none-any.whl (444 kB)
Downloading pydantic_core-2.33.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 47.3 MB/s eta 0:00:00
Downloading python_dotenv-1.1.1-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.43-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 46.6 MB/s eta 0:00:00
Downloading sqlglot-25.34.1-py3-none-any.whl (435 kB)
Downloading sqlglotrs-0.3.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (327 kB)
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading greenlet-3.2.4-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (607 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 607.6/607.6 kB 25.5 MB/s eta 0:00:00
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Downloading typing_inspection-0.4.1-py3-none-any.whl (14 kB)
Building wheels for collected packages: pandas
  Building wheel for pandas (pyproject.toml) ... done
  Created wheel for pandas: filename=pandas-1.5.3-cp312-cp312-linux_x86_64.whl size=45644311 sha256=22783eea0f36bee01d3236a6b3edc645e9898ab54b4a16e99e929194ccd0868c
  Stored in directory: /home/codespace/.cache/pip/wheels/fb/83/18/8e7307aa1185c5498c5490e4d9c8a1732d9f1056e86c3491c6
Successfully built pandas
Installing collected packages: typing-inspection, tqdm, sqlglotrs, sqlglot, python-dotenv, pydantic-core, pillow, jiter, greenlet, duckdb, distro, astor, annotated-types, sqlalchemy, pydantic, pandas, faker, openai, pandasai
  Attempting uninstall: pillow90m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  3/19 [sqlglot]
    Found existing installation: pillow 11.3.0━━━━━━━━━━━━━━━━  3/19 [sqlglot]
    Uninstalling pillow-11.3.0:━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  3/19 [sqlglot]
      Successfully uninstalled pillow-11.3.0━━━━━━━━━━━━━━━━━━━━━━  6/19 [pillow]
  Attempting uninstall: pandas━━━━━━━╺━━━━━━━━━━ 14/19 [pydantic]y]
    Found existing installation: pandas 2.3.10m━━━━━━━━━━ 14/19 [pydantic]
    Uninstalling pandas-2.3.1:━━━━━━━━━╸━━━━━━━━ 15/19 [pandas]
      Successfully uninstalled pandas-2.3.1m╸━━━━━━━━ 15/19 [pandas]
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19/19 [pandasai]/19 [pandasai]
Successfully installed annotated-types-0.7.0 astor-0.8.1 distro-1.9.0 duckdb-1.3.2 faker-19.13.0 greenlet-3.2.4 jiter-0.10.0 openai-1.102.0 pandas-1.5.3 pandasai-2.3.2 pillow-10.4.0 pydantic-2.11.7 pydantic-core-2.33.2 python-dotenv-1.1.1 sqlalchemy-2.0.43 sqlglot-25.34.1 sqlglotrs-0.3.0 tqdm-4.67.1 typing-inspection-0.4.1

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [ ]:
from pandasai import SmartDataframe
from pandasai.llm import OpenAI
import pandas as pd

df = pd.read_csv("../data/listings.csv")

llm = OpenAI(api_token="YOUR_OPENAI_API_KEY")
sdf = SmartDataframe(df, config={"llm": llm})

sdf.chat("What is the average price of listings in Brooklyn?")

Traceback (most recent call last):
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/pipelines/chat/generate_chat_pipeline.py", line 335, in run
    ).run(input)
      ^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/pipelines/pipeline.py", line 137, in run
    raise e
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/pipelines/pipeline.py", line 101, in run
    step_output = logic.execute(
                  ^^^^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/pipelines/chat/prompt_generation.py", line 37, in execute
    self.logger.log(f"Using prompt: {prompt}")
                                    ^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/prompts/base.py", line 55, in __str__
    return self.to_string()
           ^^^^^^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/prompts/base.py", line 50, in to_string
    self._resolved_prompt = self.prompt.render(**self.props)
                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/codespace/.local/lib/python3.12/site-packages/jinja2/environment.py", line 1295, in render
    self.environment.handle_exception()
  File "/home/codespace/.local/lib/python3.12/site-packages/jinja2/environment.py", line 942, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/prompts/templates/generate_python_code.tmpl", line 1, in top-level template code
    {% for df in context.dfs %}{% set index = loop.index %}{% include 'shared/dataframe.tmpl' with context %}{% endfor %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/prompts/templates/shared/dataframe.tmpl", line 1, in top-level template code
    {{ df.to_string(index-1, context.config.direct_sql, context.config.dataframe_serializer, context.config.enforce_privacy) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/connectors/base.py", line 284, in to_string
    return DataframeSerializer().serialize(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/helpers/dataframe_serializer.py", line 33, in serialize
    return self.convert_df_to_csv(df, extras)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/helpers/dataframe_serializer.py", line 58, in convert_df_to_csv
    dataframe_info += f"\ndfs[{extras['index']}]:{df.rows_count}x{df.columns_count}\n{df.to_csv()}"
                                                                                      ^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/pandasai/connectors/base.py", line 265, in to_csv
    return self.get_head().to_csv(index=False)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/codespace/.local/lib/python3.12/site-packages/pandas/util/_decorators.py", line 333, in wrapper
  File "/home/codespace/.local/lib/python3.12/site-packages/pandas/core/generic.py", line 3986, in to_csv
  File "/home/codespace/.local/lib/python3.12/site-packages/pandas/io/formats/format.py", line 987, in to_csv
ModuleNotFoundError: No module named 'pandas.io.formats.csvs'

"Unfortunately, I was not able to answer your question, because of the following error:\n\nNo module named 'pandas.io.formats.csvs'\n"

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

In [46]:
!pip install ydata-profiling

Collecting ydata-profiling
  Downloading ydata_profiling-4.16.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting scipy<1.16,>=1.4.1 (from ydata-profiling)
  Downloading scipy-1.15.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ydata-profiling) (1.5.3)
Collecting matplotlib<=3.10,>=3.5 (from ydata-profiling)
  Downloading matplotlib-3.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: pydantic>=2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ydata-profiling) (2.11.7)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (3.1.6)
Collecting visions<0.8.2,>=0.7.5 (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling)
  Downloading visions-0.8.1-py3-none-any.whl.metadata (11 kB)
Collecting numpy<2.2,>=1.16.0 (from ydata-profiling)
  Downloading numpy-2.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Collecting htmlmin==0.1.12 (from ydata-profiling)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting phik<0.13,>=0.11.1 (from ydata-profiling)
  Downloading phik-0.12.5-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (5.6 kB)
Requirement already satisfied: requests<3,>=2.24.0 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (2.32.4)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (0.13.2)
Collecting multimethod<2,>=1.4 (from ydata-profiling)
  Downloading multimethod-1.12-py3-none-any.whl.metadata (9.6 kB)
Collecting statsmodels<1,>=0.13.2 (from ydata-profiling)
  Downloading statsmodels-0.14.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (9.5 kB)
Collecting typeguard<5,>=3 (from ydata-profiling)
  Downloading typeguard-4.4.4-py3-none-any.whl.metadata (3.3 kB)
Collecting imagehash==4.3.1 (from ydata-profiling)
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl.metadata (8.0 kB)
Collecting wordcloud>=1.9.3 (from ydata-profiling)
  Downloading wordcloud-1.9.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.4 kB)
Collecting dacite>=1.8 (from ydata-profiling)
  Downloading dacite-1.9.2-py3-none-any.whl.metadata (17 kB)
Collecting numba<=0.61,>=0.56.0 (from ydata-profiling)
  Downloading numba-0.61.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (2.8 kB)
Collecting PyWavelets (from imagehash==4.3.1->ydata-profiling)
  Downloading pywavelets-1.9.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (7.6 kB)
Requirement already satisfied: pillow in /usr/local/python/3.12.1/lib/python3.12/site-packages (from imagehash==4.3.1->ydata-profiling) (10.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.12/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Collecting llvmlite<0.45,>=0.44.0dev0 (from numba<=0.61,>=0.56.0->ydata-profiling)
  Downloading llvmlite-0.44.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.0 kB)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in /home/codespace/.local/lib/python3.12/site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.5.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.7.9)
Collecting patsy>=0.5.6 (from statsmodels<1,>=0.13.2->ydata-profiling)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: typing_extensions>=4.14.0 in /home/codespace/.local/lib/python3.12/site-packages (from typeguard<5,>=3->ydata-profiling) (4.14.1)
Collecting pandas!=1.4.0,<3.0,>1.1 (from ydata-profiling)
  Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Requirement already satisfied: attrs>=19.3.0 in /home/codespace/.local/lib/python3.12/site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in /home/codespace/.local/lib/python3.12/site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.3)
Collecting puremagic (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling)
  Downloading puremagic-1.30-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic>=2->ydata-profiling) (0.4.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)
Downloading ydata_profiling-4.16.1-py2.py3-none-any.whl (400 kB)
Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
Downloading matplotlib-3.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 47.8 MB/s eta 0:00:00
Downloading multimethod-1.12-py3-none-any.whl (10 kB)
Downloading numba-0.61.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 48.9 MB/s eta 0:00:00
Downloading llvmlite-0.44.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (42.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.4/42.4 MB 52.1 MB/s eta 0:00:00:00:01
Downloading numpy-2.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 48.4 MB/s eta 0:00:00:00:01
Downloading phik-0.12.5-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (679 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 679.7/679.7 kB 31.2 MB/s eta 0:00:00
Downloading scipy-1.15.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (37.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 37.3/37.3 MB 38.8 MB/s eta 0:00:00:00:0100:01
Downloading statsmodels-0.14.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (10.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.4/10.4 MB 53.5 MB/s eta 0:00:00
Downloading typeguard-4.4.4-py3-none-any.whl (34 kB)
Downloading visions-0.8.1-py3-none-any.whl (105 kB)
Downloading pandas-2.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 56.6 MB/s eta 0:00:00:00:01
Downloading dacite-1.9.2-py3-none-any.whl (16 kB)
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Downloading wordcloud-1.9.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (539 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 539.2/539.2 kB 23.0 MB/s eta 0:00:00
Downloading puremagic-1.30-py3-none-any.whl (43 kB)
Downloading pywavelets-1.9.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 45.6 MB/s eta 0:00:00
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (pyproject.toml) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27161 sha256=b46257b3f88400bf38d61c130becd1c28e11c7e8b8f9a2388a3ff430bd0243ab
  Stored in directory: /home/codespace/.cache/pip/wheels/5f/d4/d7/4189b07b5902ee9f3ce0dbb14909fbe8037c39d6c63ffd49c9
Successfully built htmlmin
Installing collected packages: puremagic, htmlmin, typeguard, numpy, multimethod, llvmlite, dacite, scipy, PyWavelets, patsy, pandas, numba, visions, statsmodels, matplotlib, imagehash, wordcloud, phik, ydata-profiling
  Attempting uninstall: numpy
    Found existing installation: numpy 2.3.1
    Uninstalling numpy-2.3.1:[90m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  3/19 [numpy]
      Successfully uninstalled numpy-2.3.1━━━━━━━━━━━━━━━━━━━━  3/19 [numpy]
  Attempting uninstall: scipy[0m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  5/19 [llvmlite]
    Found existing installation: scipy 1.16.0━━━━━━━━━━━━━━━━━  5/19 [llvmlite]
    Uninstalling scipy-1.16.0:m╸━━━━━━━━━━━━━━━━━━━━━━━━━  7/19 [scipy]
      Successfully uninstalled scipy-1.16.0━━━━━━━━━━━━━━━━━━━  7/19 [scipy]
  Attempting uninstall: pandas╸━━━━━━━━━━━━━━━━━━━━━  9/19 [patsy]lets]
    Found existing installation: pandas 1.5.3━━━━━━━━━━━━━━━━━  9/19 [patsy]
    Uninstalling pandas-1.5.3:[0m╺━━━━━━━━━━━━━━━━━━ 10/19 [pandas]
      Successfully uninstalled pandas-1.5.3m━━━━━━━━━━━━━━━━━━ 10/19 [pandas]
  Attempting uninstall: matplotlib━╺━━━━━━━━━━━━ 13/19 [statsmodels]
    Found existing installation: matplotlib 3.10.3━━━━━━━━━━━━ 13/19 [statsmodels]
    Uninstalling matplotlib-3.10.3:╺━━━━━━━━━━━━ 13/19 [statsmodels]
      Successfully uninstalled matplotlib-3.10.3[0m━━━━━━━━━━ 14/19 [matplotlib]
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19/19 [ydata-profiling] [ydata-profiling]
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandasai 2.3.2 requires pandas==1.5.3, but you have pandas 2.3.2 which is incompatible.
Successfully installed PyWavelets-1.9.0 dacite-1.9.2 htmlmin-0.1.12 imagehash-4.3.1 llvmlite-0.44.0 matplotlib-3.10.0 multimethod-1.12 numba-0.61.0 numpy-2.1.3 pandas-2.3.2 patsy-1.0.1 phik-0.12.5 puremagic-1.30 scipy-1.15.3 statsmodels-0.14.5 typeguard-4.4.4 visions-0.8.1 wordcloud-1.9.4 ydata-profiling-4.16.1

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [50]:
from ydata_profiling import ProfileReport

report = ProfileReport(df, title="Quick EDA", minimal=True)
report.to_file("report.html")

ImportError: cannot import name 'ImageFilter' from 'PIL' (/home/codespace/.local/lib/python3.12/site-packages/PIL/__init__.py)

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [51]:
import pandas as pd

grammys = pd.read_csv("../data/grammys.csv")
grammys.head()

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia,True

In [52]:
grammys[(grammys["year"] == 2016) &
        (grammys["category"] == "Album of the Year") &
        (grammys["winner"] == True)]

,year,category,nominee,workers,winner
5505,2016,Album of the Year,1989.,"Taylor Swift (artist/producer), Jack Antonoff ...",True

In [53]:
grammys[(grammys["year"] == 2009) &
        (grammys["category"] == "Best Rap Album") &
        (grammys["winner"] == True)]

      year        category         nominee     workers  winner
4396  2009  Best Rap Album  Tha Carter III  Lil' Wayne    True

In [54]:
kendrick = grammys[grammys["nominee"].str.contains("Kendrick Lamar", case=False, na=False)]

nominated = len(kendrick)
won = kendrick["winner"].sum()  

print("Nominated:", nominated, "Won:", won)

Nominated: 2 Won: 1

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

In [59]:
import pandas as pd

import os
print(os.listdir("../data"))

gamelogs = pd.read_csv("../data/gamelogs_2022.csv", header=None)
gamelogs.head()

['grammys.csv', 'joined.csv', 'new_listings.csv', 'n_listings.csv', 'listings.csv', 'ufo_sighting_data.csv', 'prices.csv']

FileNotFoundError: [Errno 2] No such file or directory: '../data/gamelogs_2022.csv'

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.